In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/competitive-data-science-predict-future-sales/items.csv
/kaggle/input/competitive-data-science-predict-future-sales/sample_submission.csv
/kaggle/input/competitive-data-science-predict-future-sales/test.csv
/kaggle/input/competitive-data-science-predict-future-sales/sales_train.csv
/kaggle/input/competitive-data-science-predict-future-sales/item_categories.csv
/kaggle/input/competitive-data-science-predict-future-sales/shops.csv

In [9]:
sales = pd.read_csv('/kaggle/input/competitive-data-science-predict-future-sales/sales_train.csv')

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [15]:
sales.shape

(2935849, 6)

 We have 6 variables and 2.935.849 rows. Let's see if we have duplicates!

In [17]:
sales.drop_duplicates()
sales.shape

(2935849, 6)

Let's now invesigate how many variables of each type we have.

In [18]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

In [25]:
sales['item_cnt_day'].sort_values(ascending=False)

2909818    2169.0
2326930    1000.0
2864235     669.0
2851091     637.0
2608040     624.0
            ...
940092       -6.0
59156        -6.0
2048519      -9.0
1835454     -16.0
1057907     -22.0
Name: item_cnt_day, Length: 2935849, dtype: float64

In [29]:
sales[sales['item_id']==11373]

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
58323,08.01.2013,0,12,11373,1000.000000,1.0
58324,31.01.2013,0,12,11373,97.800000,5.0
176790,01.02.2013,1,12,11373,229.000000,1.0
176791,04.02.2013,1,12,11373,130.000000,1.0
302468,29.03.2013,2,12,11373,139.500000,2.0
302469,27.03.2013,2,12,11373,146.000000,1.0
302470,14.03.2013,2,12,11373,130.000000,1.0
302471,13.03.2013,2,12,11373,287.666667,3.0
302472,12.03.2013,2,12,11373,145.833333,12.0
302473,11.03.2013,2,12,11373,323.000000,2.0
369844,02.04.2013,3,12,11373,163.000000,1.0
369845,05.04.2013,3,12,11373,118.000000,3.0
369866,15.04.2013,3,12,11373,148.666667,3.0
369867,22.04.2013,3,12,11373,371.000000,1.0
369868,25.04.2013,3,12,11373,163.000000,1.0
511986,27.05.2013,4,12,11373,649.000000,1.0
511987,22.05.2013,4,12,11373,211.000000,2.0
511988,21.05.2013,4,12,11373,526.000000,1.0
511989,20.05.2013,4,12,11373,427.000000,1.0
511990,15.05.2013,4,12,11373,349.000000,1.0
511991,07.05.2013,4,12,11373,130.000000,1.0
565346,26.06.2013,5,12,11373,95.333333,3.0
565347,20.06.2013,5,12,11373,157.166667,6.0
565348,19.06.2013,5,12,11373,231.000000,2.0
565349,18.06.2013,5,12,11373,389.000000,1.0
565350,17.06.2013,5,12,11373,535.000000,2.0
565351,13.06.2013,5,12,11373,205.666667,6.0
565352,10.06.2013,5,12,11373,367.666667,3.0
565353,08.06.2013,5,12,11373,359.000000,1.0
565354,05.06.2013,5,12,11373,130.000000,1.0
...,...,...,...,...,...,...
2865354,15.09.2015,32,12,11373,351.500000,8.0
2865355,14.09.2015,32,12,11373,583.000000,2.0
2865372,01.09.2015,32,12,11373,707.000000,6.0
2865373,02.09.2015,32,12,11373,372.000000,2.0
2865374,03.09.2015,32,12,11373,138.210526,38.0
2865375,04.09.2015,32,12,11373,455.600000,5.0
2865376,07.09.2015,32,12,11373,513.000000,4.0
2865377,08.09.2015,32,12,11373,287.200000,10.0
2865378,09.09.2015,32,12,11373,254.909091,11.0
2865379,10.09.2015,32,12,11373,803.800000,5.0
2865380,11.09.2015,32,12,11373,280.500000,6.0
2909806,08.10.2015,33,12,11373,173.000000,1.0
2909807,12.10.2015,33,12,11373,1451.000000,1.0
2909808,13.10.2015,33,12,11373,237.750000,4.0
2909809,14.10.2015,33,12,11373,239.642857,14.0
2909810,15.10.2015,33,12,11373,231.222222,9.0
2909811,16.10.2015,33,12,11373,321.200000,5.0
2909812,19.10.2015,33,12,11373,317.500000,4.0
2909813,20.10.2015,33,12,11373,226.333333,3.0
2909814,22.10.2015,33,12,11373,258.750000,4.0
2909815,23.10.2015,33,12,11373,394.666667,3.0
2909816,26.10.2015,33,12,11373,485.000000,3.0
2909817,27.10.2015,33,12,11373,394.000000,1.0
2909818,28.10.2015,33,12,11373,0.908714,2169.0
2909819,29.10.2015,33,12,11373,317.000000,3.0
2909829,07.10.2015,33,12,11373,855.000000,2.0
2909830,06.10.2015,33,12,11373,208.800000,5.0
2909831,05.10.2015,33,12,11373,140.750000,16.0
2909832,02.10.2015,33,12,11373,648.500000,2.0
2909856,01.10.2015,33,12,11373,361.250000,4.0

In the code above, we can see the performance of the product that had the best performance of sales in one day. Seems that the high variance of price in different dates was important to it! Now we are going to see the variance of price of each product!

In [31]:
produtos = sales['item_id'].unique()
produtos

array([22154,  2552,  2554, ...,  7610,  7635,  7640])